.form-input{
    
}
label {
    /* font-size: 120%; */
}
body{
    font: normal normal normal 1.2em Arial, sans-serif;
}
.form-send{
    font-size: 150%;
    font-weight: bold;
    border: 20px;
}
.result-value{
    float: left;
    padding: 5px;
    width: 200px;
    /* background-color: inherit; */
}
.results-container{
    clear: both;
    word-wrap: break-word;
    /* height: 100%; */
    background-color: lightCoral;
}